<%= flash[:notice] %>
<form action = '/sending/' method = 'post'>
    <h1>보내는 사람</h1>
    <input type = 'text' name = 'sender'>
    <h2>제목</h2>
    <input type = 'text' name = 'mail_title'>
    <h2>내용</h2>
    <input type = 'text' name = 'input_mail'>
    <input type = "submit" value = '전송!'>
   <a href="/after_login" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-black"><i class="fa fa-users w3-margin-right"></i>홈으로 가기</button>
</form>